# OS junk
.DS_Store
Thumbs.db

# IDE junk
.vscode/
.idea/

# Local environments
.env
*.log

# Sensitive configs
src/config.php

#sql file
database/website_db.sql

# PHP junk
vendor/
node_modules/

# XAMPP cache
*.bak
*.tmp
